<!-- --------------------------------------------------- -->
<!-- CREATED ONLY FOR TO UNDERSTANDING RESPONCIVENESS OF VIEW/ MOBILEview AND DESKTOPview -->

<div class="main">
    <div class="sidebar-parent">
        <div class="sidebar-main">
            <ul class="nav  navbar  flex-sm-column mb-auto  ">
                <li>
                    <a [routerLink]="['/dashboard']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                        data-bs-placement="right" data-bs-original-title="Dashboard"
                        (click)="toggleIcon('dashboardIcon')">
                        <img id="dashboardIcon"
                            [src]="selectedIcon === 'dashboardIcon' ? '/../assets/Dashboard-active.svg': '/../assets/Dashboard.svg'"
                            alt="Dashboard" class="icon fs-1">
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/projectlist']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                        data-bs-placement="right" data-bs-original-title="Orders" (click)="toggleIcon('ordersIcon')">
                        <img id="ordersIcon"
                            [src]="selectedIcon === 'ordersIcon' ? '/../assets/Project-list-active.svg' : '/../assets/Project-list.svg'"
                            alt="ProjectList" class="icon fs-1">
                    </a>
                </li>
                <div class="h-line"></div>
                <li>
                    <a [routerLink]="['/createproject']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                        data-bs-placement="right" data-bs-original-title="Products"
                        (click)="toggleIcon('productsIcon')">
                        <img id="productsIcon"
                            [src]="selectedIcon === 'productsIcon' ? '/../assets/create-project-active.svg' : '/../assets/create-project.svg'"
                            alt="CreateProject" class="icon fs-1">
                    </a>
                </li>
            </ul>
        </div>

        <div class="logout">
            <a class="logout-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Orders">
                <img (click)="confirmLogout()" id="ordersIcon" src="/../assets/Logout.svg" alt="Logout"
                    class="icon fs-1">
            </a>
        </div>

    </div>
    <div class="component-body">
        <div class="col bg-image position-relative">
            <div class="header-text text-start position-absolute top-50 start-0 translate-middle-y ms-4 fs-4">
                <div class="header-title">Dashboard</div>
            </div>
            <div class="logo text-center">
                <img src="/../assets/Logo.svg" alt="Logo" />
            </div>
            <div class="header-logout header-text  position-absolute top-50 end-0 translate-middle-y me-4 fe-4">
                <a class="logout-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="Orders">
                    <img (click)="confirmLogout()" id="ordersIcon" src="/../assets/logoutHeader.svg" alt="Logout"
                        class="icon fs-1 logout-icon">
                </a>
            </div>
        </div> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dashboard-container">
                    <div class="row">
                        <div class="col-sm min-vh-100 card-cal-padding">
                            <div class="row row-cols-1 row-cols-md-5 g-3 card-row">
                                <div class="col col-card-padding">
                                    <div class="card h-60 card-border">
                                        <div class="card-body d-flex flex-column justify-content-end">
                                            <p class="card-text small mb-0">Total Projects</p>
                                            <p class="card-text display-4 mt-auto mb-0">12</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-card-padding">
                                    <div class="card h-60 card-border">
                                        <div class="card-body d-flex flex-column justify-content-end">
                                            <p class="card-text small mb-0">closed</p>
                                            <p class="card-text display-4 mt-auto mb-0">11</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-card-padding">
                                    <div class="card h-60 card-border">
                                        <div class="card-body d-flex flex-column justify-content-end">
                                            <p class="card-text small mb-0">Running</p>
                                            <p class="card-text display-4 mt-auto mb-0">01</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-card-padding">
                                    <div class="card h-60 card-border">
                                        <div class="card-body d-flex flex-column justify-content-end">
                                            <p class="card-text small mb-0">Closure Delay</p>
                                            <p class="card-text display-4 mt-auto mb-0">01</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-card-padding">
                                    <div class="card h-60 card-border">
                                        <div class="card-body d-flex flex-column justify-content-end">
                                            <p class="card-text small mb-0">Cancelled</p>
                                            <p class="card-text display-4 mt-auto mb-0">10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>